/* Mengatur gaya utama halaman */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #111827, #1e3a8a);
  color: white;
  height: 100vh; /* agar penuh 1 layar */
  overflow: hidden; /* biar ga bisa di-scroll */
}

/* Tambahan efek transisi tombol */
button {
  transition: all 0.2s ease-in-out;
}
